
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Dollar Central</title>
    <link rel="stylesheet" href="..\..\website\static\ripped.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="../../website/static/images/Dollar General Logo (PNG).png">

</head>
<body class="Page">
    <section class="user-name">
        <!-- <div class="user-name-text">Hello, {{user.first_name}}!</div> -->
    </section>
    <section class="card-div">
        <!-- <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
            <li class="list-group-item">
              {{ note.data }}
              <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
            {% endfor %}
          </ul>
          <form method="POST">
            <textarea name="note" id="note" class="form-control"></textarea>
            <br />
            <div align="center">
              <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
          </form> -->
    </section>
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="vertical-navbar-created">
        <div class="style-5"><a href="#" class="style-6"></a>
            <nav role="navigation" class="style-7"><a href="#" class="style-8">Home</a><a href="#" class="style-9">About</a><a href="#" class="style-10">Contact</a></nav>
            <div class="style-11" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
                <div class="style-12"></div>
            </div>
        </div>
        <div class="style-13" data-wf-ignore=""></div>
    </div>
</body>

</html>